@import url('https://fonts.googleapis.com/css2?family=Articulat+CF:wght@400;700&display=swap');

body, .App {
  font-family: 'Articulat CF', Arial, Helvetica, sans-serif;
}
.App {
  min-height: 100vh;
  color: #e6f8f8;
}

.App-main {
  padding: 80px 32px 120px;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .App-main {
    padding: 40px 24px 80px;
  }

}
